.searchedMoviesList ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-content: center;
}

.searchedMoviesList ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.userMovieLists {
  min-width: 200px;
}
.searchedMoviesList {
  padding: 40px;
  margin-top: -30px;
}

.posterImg {
  width: 200px;
}

.movieListsSelect {
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  padding-left: 10px;
}

header h1 {
  padding: 40px;
}

// Poster Container

// .posterContainer {
//   justify-content: start !important;
// }
.poster {
  margin-left: 30px;
  margin-right: 20px;
  position: relative;
}

.posterImg img:hover,
.posterImg img:focus {
  transform: scale(1.15);
  outline: 2px solid red;
  cursor: pointer;
}

.listMovies h2 {
  margin-left: 30px;
  margin-top: 20px;
}

.searchedMoviesList {
  position: relative;
}

.movieDetailsContainer {
  background-color: rgb(32, 32, 32);
  position: fixed;
  top: 20px;
  margin: 30px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  overflow: auto;
  z-index: 1;
}

// Add Movie Form - to add the movies to specific list
.addMovieForm {
  margin-left: 20px;
}

.addToList {
  background: transparent;
  padding: 14px 40px;
  color: white;
  border: 1px solid #e50914;
  border-radius: 5px;
  margin-left: 10px;
}

.addToList:hover,
.addToList:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 15px;
  border: none;
  font-size: 23px;
}

@media (max-width: 950px) {
  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: -4%;
  }
}

@media (max-width: 1050px) {
  .movieDetailsContainer {
    top: 40px;
    width: 100%;
    left: -3%;
    text-align: center;
  }

  .trailer {
    flex-direction: column;
    max-width: 100%;
  }

  .movieInfo {
    width: 81%;
    margin: 30px;
    text-align: left;
    font-style: italic;
  }
  .html5-video-player {
    position: relative;
  }

  #player {
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: -4%;
  }
}

@media (max-width: 870px) {
  .mainPageFlexContainer {
    flex-direction: column-reverse;
  }
  .userMovieLists {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .movieInfo {
    width: 80%;
  }
  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: -4%;
  }

  .trailer {
    flex-direction: column;
    max-width: 249px;
  }

  .closeBtn {
    top: 45px;
    right: 15px;
  }

  .trailer div:nth-child(1) {
    max-width: 100%;
    margin: auto;
    margin-left: 21px;
  }
  .addMovieForm {
    margin-bottom: 26px;
  }

  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: 1%;
  }

  .movieInfo {
    width: 81%;
    margin: 30px;
    text-align: left;
    font-style: italic;
  }
}

@media (max-width: 525px) {
  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: 1%;
  }

  .trailer {
    flex-direction: column;
    max-width: 249px;
  }

  .closeBtn {
    top: 45px;
    right: 15px;
  }

  .trailer div:nth-child(1) {
    max-width: 100%;
    margin: auto;
    margin-left: 21px;
  }
  .addMovieForm {
    margin-bottom: 26px;
  }

  .movieDetailsContainer {
    top: 40px;
    width: 91%;
    left: 1%;
  }

  .movieInfo {
    width: 81%;
    margin: 30px;
    text-align: left;
    font-style: italic;
  }
}
