
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


$headerFont: 'Inter', sans-serif;
$bodyFont:'Inter', sans-serif;

$redColor: #E50914;
$whiteColor: #F2F2F2;
$backgroundColor: #101011;
$greyColor: #030303;