.SetList {
    display: flex;
}

.posterContainer {
    display: flex;
    justify-content: space-evenly;
}

.listPoster {
    position: relative;
}

.deleteMovie {
	width: 30px;
	height: 30px;
	position: absolute;
	color: white;
	right: -8%;
	top: -5%;
	background-color: red;
	border-radius: 50%;
}

.deleteMovieSymbol {
	position: absolute;
	top: 20%;
	right: 23%;
}